html
{
    height:100%;
}
body
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+0,38383a+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010101+0,38383a+100 */
background: #010101; /* Old browsers */
background: -moz-linear-gradient(top, #010101 0%, #38383a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #010101 0%,#38383a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #010101 0%,#38383a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#38383a',GradientType=0 ); /* IE6-9 */
    color:#fff;
    font-family: 'Quattrocento Sans';
    height:100%;
    background-attachment: fixed;
}
:focus
{
outline:none!important;
box-shadow: none!important;
}
.in-content
{
    float:left;
    width:calc(100% - 30px);
    padding:15px;
}
.in-content ul[role="tablist"]
{
    display:none;
}
.in-box
{
    float:left;
    width:100%;
    text-align:center;
}
h2
{
    font-size:20px;
    width:100%;
    float:left;
    margin-top:0px;
    border-bottom:2px solid #fff;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.upload-box
{
    width:250px;
    height:150px;
    border-radius:3px;
    border:1px solid #fff;
    display:inline-block;
    margin-top:100px;
    position:relative;
    text-align:center;
}
.upload-box input[type="file"]
{
position: absolute;
    opacity: 0.001;
    width: 100%;
    height: 150px;
    cursor: pointer;
    left: 0px;
    top: 0px;
}
.upload-box img
{
    display:inline-block;
    margin-top:30px;
    margin-bottom:10px;
}
.upload-box label
{
    display:inline-block;
    margin-bottom:10px;
}
.upload-box button
{
    width:90px;
    height:25px;
    background:#f57300;
    font-size:12px;
    color:#fff;
    border:none;
    cursor:pointer;
    font-weight:normal;
    border-radius: 3px;
}
.images
{
    float:left;
    width:100%;
   padding-top:25px;
}
.images img
{
    float:left;

}
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .sortable li {  width: 150px; height: 250px; float:left;    margin-right:10px;
    margin-bottom:10px;}
.actions li[aria-disabled="false"] a
{
    width: auto;
    height: 20px;
    background: orange;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.actions li[aria-disabled="true"] a
{
    width: auto;
    height: 20px;
    background: orange;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display:none;
}
.orange-btn
{
    width: auto;
    height: 20px;
    background: #f57300;
    font-size: 14px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: normal;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
    cursor:pointer;
}
.next
{
    position:absolute;
    right:40px;
    top:20px;
}
.selected
{
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #00ee00;

}
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}


.preview {
  overflow: hidden !important;
  width: 200px !important;
  height: 200px !important;
}

/*
.ui-selectable .ui-selected
{
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #00ee00;

}*/
.custom-books
{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    padding:0px!important;
    position:relative;
}
.paper-style
{
    width: auto;
    height: 600px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-right: auto !important;
    margin-left: auto!important;
    padding:0px!important;
}
.paper
{
    width: 450px;
    height: 600px;
    background-color: #fff!important;
    display: inline-block;
    margin-left: 100px !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.page-items
{
    width: 90%;
    display: inline-block;
    margin-left: 5%!important;
    border-bottom: 2px solid #fff!important;
    padding-bottom: 0px!important;
    margin-bottom: 10px!important;
    font-size: 13px !important;
    color: #fff;
    text-align: left;
}
.page-items span {
    margin-right: 10px;
    white-space: nowrap;
    margin-bottom: 20px;
    display: inline-block;

}
.custom-books hr
{
    width: 100%;
    display: inline-block;
    border: none;

}
.page-items input
{
    width: 35px;
    display: inline-block;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
}
.page-items select
{
    display: inline-block;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
}
.paper.round
{
    border-radius: 25px !important;
}

.holes{
    background-color:#00ff00;
    width:20px;
    height:20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)

}


.ringPairs1{
    background-color:blue;
    width:110px;
    height:3px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 0px;
    left: -55px

}
.ringPairs2{
    background-color:blue;
    width:110px;
    height:3px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 0px;
    left: -55px

}
.ringPairs3{
    background-color:blue;
    width:110px;
    height:3px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 0px;
    left: -55px

}

.holes.circle{
    border-radius: 50%;
}

.ring-hole.circle
{
   border-radius: 50%;;
}
.rings
{
    position: absolute;
    width: 110px;
    height: 100%;
    top:0px;
    left: 0px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 0px !important;
    margin: 0px!important;
    padding-right: 0px !important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    margin-left: 10px!important;
}
.rings div
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.ring-hole
{
    width: 0px;
    height: 0px;
    /*background-color: #000!important;*/
    position: relative;
    float: right;
/*    margin-top: 15px;
    margin-bottom: 15px;*/
    margin-left: 90px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    margin-right: 0px!important;
    padding:0px !important;
    top:0px!important;
    bottom: 0px!important;
    display: block !important;
    justify-content: normal !important;
flex-direction: column !important;
line-height: 9px;
}
.ring-hole .pairs
{

    position: relative;
    width: 100%;
    display: block !important;
    height: 18px;
    /* margin-top: 8px; */
}
.ring-hole .pairs::after
{
    position: absolute;
    content: "";
    width: 110px;
    height: 2px;
    background-color: #fff;
    top: calc(50% - 1px);
    z-index: 999;
    right: 50%;
}
.rings div:first-child .ring-set
{
    bottom: auto!important;
    position: relative;
}
.rings div:last-child .ring-set
{
    top: auto!important;
    position: relative;
}
.ring-set
{
    /* top:0px!important;
    bottom: 0px!important; */
}
span.pairs.separation {
    position: absolute!important;
    /* top: 35%;
    margin-top: 0px!important; */
}
.zoom-buttons {
    position: relative;
    /* right: 3%; */
    /* z-index: 99; */
    margin-top: 10px !important;
}
.move-page
{
    transform: matrix(1, 0, 0, 1, 0, 0)!important;
}
.side
{
     /* width: 700px; */
    height: auto;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-right: auto;
    margin-left: 100px;
    border-top: 2px solid #666;
    margin-top: 20px;
    margin-bottom: 10px;
}
.thickness
{
    width: 100%;
    background-color: #fff!important;
    display: inline-block;
    padding: 0px!important;
}
.tabs-tags
{
    position: absolute;
    right: 145px;
    top: 25px;
    height: 100%;
    width: 25px!important;
    overflow: hidden;
}
.tabs-tags .tab-tag
{
    width: 25px;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    float: right;
    background-color: #ddd;
    box-shadow: 0px -2px 4px 0px #6b6b6b;
    z-index: 99;
    border: 1px solid #999;
}
.tag12:first-child
{
    margin-top:0px;
}
.tag12
{
     margin-top: -56.7px;
}
.tag6
{
    margin-top: -2px;
}
.tag7:first-child
{
    margin-top: 0px;
}
.tag7
{
    margin-top: -19px;
}
.tag8:first-child
{
    margin-top: 0px;
}
.tag8
{
    margin-top: -30.8px;
}
.tag9:first-child
{
    margin-top: 0px;
}
.tag9
{
    margin-top: -39.8px;
}
.tag10:first-child
{
    margin-top: 0px;
}
.tag10
{
 margin-top: -46.7px;
}
.tag11:first-child
{
    margin-top: 0px;
}
.tag11
{
    margin-top: -52.1px;
}
.cropper-container
{
    overflow:visible!important;
    position:relative;
    margin: 0px!important;


}
.tab-leaf
{
    width: 20px;
    height: 80px;
    position: absolute;
    content: "";
    background: #ccc !important;
    border-radius: 0px 10px 10px 0px;
    z-index: 99;
    left: 155px;
    top: 85px;
    padding: 0px!important;
}
.cropper-wrap-box, .cropper-canvas {
    overflow: hidden;
    padding: 0px!important;
    transform: translateY(0px)!important;

}

.cropper-container
{
    /* width:150px!important;
    height:220px!important; */
}
.czoom-buttons
{
    position: absolute;
    right: 3px;
}
  .wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 844px;
  }

  canvas {
    margin: 10px;
    padding: 0;
    border: 1px solid #333;
    display: inline-block;
  }
  .wrapper #c1
  {
    background-size: contain!important;
    width: 300px !important;
    height: 400px!important;
  }
.context-menu-list
{
    background:#404040!important;
    min-width: auto!important;
    width: auto!important;
    padding-left: 15px;
    padding-right: 15px;
    /*top: 255px!important;*/
    white-space: nowrap;
}
.context-menu-item
{
    display:inline-block;
    background:transparent!important;
    color:#fff!important;
    text-align:center;
    width:auto;
    padding-left: 10px;
    padding-right: 5px;
    font-size:12px;

}
.context-menu-item:hover
{
    background:transparent!important;
}
.context-menu-item.context-menu-hover{color:#fff;cursor:pointer;background-color:transparent!important}
.context-menu-list li::after
{
   position: absolute;
    content: "";
    left: 7%;
    width: 1px;
    height: 14px;
    background: #fff;
    top: 3px;
}
.context-menu-list li:first-child::after
{
    display:none;
}
.images-ids label {
    font-size: .9em;
    color: #fff;
    top: 5px;
    position: relative;
    left: -10px;
}
.add-btn-div
{
    /*margin-top:107px!important;*/
}
.ui-sortable-placeholder
{
    border: 1px dashed #666;
    background: #999;
    visibility: visible!important;
}
.add-btn-div button
{
    color: #fff;
    font-size: 15px;
    padding: 25px;
    background: #767676;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor:pointer;
}
.con-menu
{
    display:none;
    position: absolute !important;
    left: calc(50% - 60px);
    padding: 0px!important;
    top: 43%;
    z-index: 9999;
    margin: 0px!important;
    background: #404040!important;
    border: 1px solid #bebebe;
    color:#fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    border-radius: .2em;
    font-size: 15px!important;
}
.con-menu button
{

    min-width: auto!important;
    width: auto!important;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    background:transparent;
    border:none;
    font-size: 12px;
    cursor:pointer


}
.images-ids
{
position:relative;
}
.tab-settings
{
    position:absolute;
    left:3%;
    top:5%;
    width:250px;
    height:190px;
    padding:10px;
    border-radius:5px;
    background:#000;
    border:1px solid #fff;
    color:#fff;
    z-index: 99;
}
.tab-settings h2
{
    font-size:15px;
    border-bottom:1px solid #fff;
    margin-bottom:10px;
}
.tab-settings span
{
    width:50%;
    padding-right:5px;
    font-size:13px;
    display:inline;

}
.tab-settings input
{
    width: 35px;
    display: inline-block;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 0px;
    border: none;
    border-radius: 5px;
}
.tab-settings div {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    font-size:13px;
}
.tab-settings-container
{
    width:100%;
    display:inline-block;
    position:relative;
    text-align:center;
}
.tab-image
{
    width:915px;
    height:auto;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.orange-border
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ff0000;
    display: inline-block;
}
.zooming
{
    position: absolute;
    width: 900px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;
}
.tab-image img {
    width: 900px;
    opacity: 0;
    position: absolute;
    top: 0px;
}
.outward, .corner, .angled, .angled-out
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.corner1
{
    background: url(../img/rounded_corner.png) top right no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 22.5px;
    height: 22.5px;
    background-size: 100%;
    transform: rotate(90deg);
}
.corner2
{
    background: url(../img/rounded_corner.png) bottom right no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 22.5px;
    height: 22.5px;
    background-size: 100%;
    transform: rotate(180deg);
}
.corner3
{
    background: url(../img/rounded_corner.png) left top no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100%;
    transform: rotate(0deg);
}
.corner4
{
    background: url(../img/rounded_corner.png) left bottom no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-size: 100%;
    transform: rotate(-90deg);
}
.tab-padding
{
    position: absolute;
    top: -1px;
    right: 100%;
    background: rgba(255,130,0,.2);

}
.tab-image .tab
{
    position:absolute;
    width:25px;
    height:100%;
    background:rgba(204, 204, 204, 0);
    right:0px!important;
   left:auto!important;
    /* border-radius: 0px 16px 16px 0px; */
    top:0px;

    border-style: none;


    box-shadow:inset 0px 0px 0px 1px rgba(255,130,0,.4);
}
.tab-image .tab.angledTR::before
{
    width: 15px;
    height: 25px;
    content: "";
    top: -9px;
    position: absolute;
    /* background: #fff; */
    border-left: 1px solid orange;
    transform: rotate(-45deg);
    right: -7px;
}
.tab-image .tab.angledBR::after
{
    width: 15px;
    height: 25px;
    content: "";
    bottom: 1px;
    position: absolute;
    /* background: #fff; */
    border-left: 1px solid orange;
    transform: rotate(-135deg);
    right: 6px;
}
.tab-image .tab.angledTL::before
{
    width: 15px;
    height: 25px;
    content: "";
    top: -9px;
    position: absolute;
    /* background: #fff; */
    border-left: 1px solid orange;
    transform: rotate(-135deg);
    left: -5px;
}
.tab-image .tab.angledBL::after
{
    width: 15px;
    height: 25px;
    content: "";
    bottom: 2px;
    position: absolute;
    /* background: #fff; */
    border-left: 1px solid orange;
    transform: rotate(-45deg);
    left: 6px;
}

.red-boarder{
    position:absolute;
    width:700px;
    height:720px;
    outline-style: solid;
    outline-color: #ff0000;
    outline-width: 1.2px;
    top:40px; width: 90%;
    float: left; margin-left: 5%;
    overflow: hidden;
    opacity:1;
}

#merge
{
    float: left;
    width: calc(100% - 20px);
    margin-top: 26px;
    padding-left: 20px;
}
#merge .images-ids
{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.img-pre {
    position: absolute;
    top: 0px;
}
.inbxs {
    width: auto;
    float: right;
    margin-left:15px;
}
.inbxs input
{
width: 40px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}
.crop-zoom
{
    width:100%;
    float:left;
    margin-left:0%;
    overflow:hidden;
}
.img-preview
{
    position:absolute;
    top:25px;
    width:300px;
    height:300px;
    left:0px;
    display:none;

}
.scroller{
    position:absolute;
    height:calc(100%);
    top:0px;
    width: calc(100%);
    overflow: hidden;
}

.img-preview img
{
    max-width: initial!important;
}
.left-arrow
{
    position:absolute;
    top:calc(50% - 30px);
    width:20px;
    height:120px;
    cursor:pointer;
    left:20px;
     background:url(../img/left-arrow.png) center center no-repeat;
     background-size: 100%;
     z-index: 999;
}
.right-arrow
{
    position:absolute;
    top:calc(50% - 30px);
    width:20px;
    height:120px;
    cursor:pointer;
    right:20px;
    background:url(../img/right-arrow.png) center center no-repeat;
    background-size: 100%;
    z-index: 999;
}
.lSAction
{
    display:none!important;
}
.lSGallery
{
    display:none;
}
