body
{
    background:#111;
    color:#fff;
}
.in-content
{
    float:left;
    width:calc(100% - 30px);
    padding:15px;
}
.in-content ul[role="tablist"]
{
    display:none;
}
.in-box
{
    float:left;
    width:100%;
    text-align:center;
}
h2
{
    font-size:20px;
    width:100%;
    float:left;
    margin-bottom:10px;
    margin-top:20px;
    border-bottom:2px solid #fff;
    padding-bottom:5px;
}
.upload-box
{
    width:250px;
    height:150px;
    border-radius:3px;
    border:1px solid #fff;
    display:inline-block;
    margin-top:100px;
    position:relative;
    text-align:center;
}
.upload-box input[type="file"]
{
position: absolute;
    opacity: 0.001;
    width: 100%;
    height: 100px;
    cursor: pointer;
    left: 0px;
    top: 0px;
}
.upload-box img
{
    display:inline-block;
    margin-top:30px;
    margin-bottom:10px;
}
.upload-box label
{
    display:inline-block;
    margin-bottom:10px;
}
.upload-box button
{
    width:90px;
    height:25px;
    background:orange;
    font-size:12px;
    color:#fff;
    border:none;
    cursor:pointer;
    font-weight:bold;
}
.images
{
    float:left;
    width:100%;
   padding-top:25px;
}
.images img
{
    float:left;

}
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .sortable li {  width: 150px; height: 250px; float:left;    margin-right:10px;
    margin-bottom:10px;}
.actions li[aria-disabled="false"] a
{
    width: auto;
    height: 20px;
    background: orange;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.actions li[aria-disabled="true"] a
{
    width: auto;
    height: 20px;
    background: orange;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display:none;
}
.orange-btn
{
    width: auto;
    height: 20px;
    background: orange;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.next
{
    position:absolute;
    right:40px;
    top:20px;
}
.selected
{
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #00ee00;

}
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}


.preview {
  overflow: hidden !important;
  width: 200px !important;
  height: 200px !important;
}

/*
.ui-selectable .ui-selected
{
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #00ee00;

}*/
.custom-books
{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    padding:0px!important;
}
.paper-style
{
    width: 700px;
    height: 660px;
    /*display: inline-block;*/
    text-align: left;
    position: relative;
    margin-right: auto !important;
    margin-left: auto!important;
    padding:0px!important;
}
.paper
{
    width: 450px;
    height: 600px;
    background-color: #fff!important;
    display: inline-block;
    margin-left: 80px !important;
}
.page-items
{
    width: 90%;
    display: inline-block;
    margin-left: 5%!important;
    border-bottom: 2px solid #fff!important;
    padding-bottom: 10px!important;
    margin-bottom: 10px!important;
    font-size: 13px !important;
    color: #fff;
}
.page-items input
{
    width: 50px;
    display: inline-block;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
}
.page-items select
{
    display: inline-block;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
}
.paper.round
{
    border-radius: 25px;
}
.ring-hole.round
{
   border-radius: 10px;
}
.rings
{
    position: absolute;
    width: 110px;
    height: calc(100% - 30px);
    top:0px;
    left: 0px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px !important;
    margin: 0px!important;
    padding-right: 0px !important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
}
.ring-hole
{
    width: 20px;
    height: 20px;
    background-color: #000!important;
    position: relative;
    float: right;
/*    margin-top: 15px;
    margin-bottom: 15px;*/
    margin-left: 100px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    margin-right: 0px!important;
    padding:0px !important;
}
.ring-hole::after
{
    position: absolute;
    content: "";
    width: 110px;
    height: 2px;
    background-color: #fff;
    top: calc(50% - 1px);
    z-index: 999;
    right: 10px;
}
.side
{
     width: 700px;
    height: auto;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border-top: 2px solid #666;
    margin-top: 20px;
    margin-bottom: 10px;
}
.thickness
{
    width: 100%;
    background-color: #fff!important;
    display: inline-block;
    padding: 0px!important;
}
.tabs-tags
{
    position: absolute;
    right: 145px;
    top: 0px;
    height: 100%;
    width: 25px!important;
    overflow: hidden;
}
.tabs-tags .tab-tag
{
    width: 25px;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    float: right;
    background-color: #ddd;
    box-shadow: 0px -2px 4px 0px #6b6b6b;
    z-index: 99;
    border: 1px solid #999;
}
.tag12:first-child
{
    margin-top:0px;
}
.tag12
{
     margin-top: -56.7px;
}
.tag6
{
    margin-top: -2px;
}
.tag7:first-child
{
    margin-top: 0px;
}
.tag7
{
    margin-top: -19px;
}
.tag8:first-child
{
    margin-top: 0px;
}
.tag8
{
    margin-top: -30.8px;
}
.tag9:first-child
{
    margin-top: 0px;
}
.tag9
{
    margin-top: -39.8px;
}
.tag10:first-child
{
    margin-top: 0px;
}
.tag10
{
 margin-top: -46.7px;
}
.tag11:first-child
{
    margin-top: 0px;
}
.tag11
{
    margin-top: -52.1px;
}
.cropper-container
{
    overflow:visible!important;
    position:relative;
    margin: 0px!important;


}
.tab-leaf
{
    width: 20px;
    height: 80px;
    position: absolute;
    content: "";
    background: #ccc !important;
    border-radius: 0px 10px 10px 0px;
    z-index: 99;
    left: 155px;
    top: 85px;
    padding: 0px!important;
}
.cropper-wrap-box, .cropper-canvas {
    overflow: hidden;
    padding: 0px!important;
    transform: translateY(0px)!important;

}

.cropper-container
{
    width:150px!important;
    height:220px!important;
}


  
  .wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 844px;
  }
  
  canvas {
    margin: 10px;
    padding: 0;
    border: 1px solid #333;
    display: inline-block;
  }
  .wrapper #c1
  {
    background-size: contain!important;
    width: 300px !important;
    height: 400px!important;
  }

 