<!DOCTYPE html>
<html>
<head>
	<title>PDF Editor</title>
</head>
<body>
{% load static %}
  <link href="{% static 'css/jquery.steps.css' %}?ver1.0.1" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="{% static 'js/jquery.steps.js' %}"></script>
  <script src="{% static 'js/jquery.steps.min.js' %}"></script>
  <script src="{% static 'js/process.js' %}"></script>
{% block content %}

  <form method="post" enctype="multipart/form-data" id="form_pdfconvert">
    {% csrf_token %}
    <div id="example-basic">
        <h3>Step 1: Upload PDF</h3>
        <section>
            <p><input type="file" name="file">
                <button type="submit">Upload</button>
            </p>
        </section>
        <h3>Step 2: Organize</h3>
        <section>
            <p>Images: <br>
                {% for img in images %}
                    <img src="{{img}}"  width="350px" height="350px">
                {% endfor %}
            </p>
        </section>
        <h3>Pager</h3>
        <section>
            <p>The next and previous buttons help you to navigate through your content.</p>
        </section>
    </div>

  </form>
{% endblock %}
</body>
</html>

