<!DOCTYPE html>
<html>
<head>
	<title>PDF Editor</title>
</head>
<body>
{% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static 'css/jquery.steps.css' %}?ver1.0.1" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'js/jquery.steps.js' %}"></script>
    <script src="{% static 'js/jquery.steps.min.js' %}"></script>
    <script src="{% static 'js/process.js' %}"></script>

{% block content %}
<div class="in-content">
    <h2>Step 1 Upload PDF</h2>
    <div class="in-box">
  <form method="post" enctype="multipart/form-data" id="form_pdfconvert">
    {% csrf_token %}
       <div class="upload-box">
                      <input type="file" name="file" id="fileupload">
              <img src="{% static 'img/upload.svg' %}"><br/>
              <label>Browse PDF</label><br/>
        <button type="submit">Upload</button>
        <div id="filename"></div>
        <div id="progress"></div>
        <div id="progressBar"></div>
          </div>
    <div id="example-basic" style="display:none">

        <h3>Step 2: Organize</h3>
        <section>
             <div class="images">
                <ul id="sortable">
                    {% for img in images %}
                    <li class="ui-state-default"><img src="{{img}}"  width="150px" height="250px"></li>
                    {% endfor %}
                </ul>
              </div>
        </section>
        <h3>Pager</h3>
        <section>
            <p>The next and previous buttons help you to navigate through your content.</p>
        </section>
    </div>

  </form>
    </div>

</div>

{% endblock %}
</body>
</html>

